.login-container {
  max-width: 340px;
  min-height: 100%;
  border: 20px solid #078353;
  margin: 100px auto;
}

.login-title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: hsl(157, 74%, 17%);
  margin: 40px 0 30px 0;
}

.block-input {
  width: 85%;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0 auto 30px;
  text-align: left;
  position: relative;
  & input {
    font-size: 16px;
    padding: 10px 5px;
    &:focus {
      background: rgb(230, 233, 231);
    }
  }
}

.textInvalid {
  display: block;
  width: 100%;
  text-align: center;
  background: rgba(197, 241, 221, 0.9);
  font-size: 16px;
  padding: 5px 10px;
  border: 1px dashed #078353;
  position: absolute;
  top: 40px;
  left: 0;
}

.login-checkbox {
  display: inline-block;
  margin: 5px 5px 0 10% ;
}

.login-text-checkbox {
  font-size: 16px;
  text-transform: capitalize;
  color: rgb(134, 134, 134);
}

.login-button button {
  display: block;
  color: #ccc;
  font-weight: 700;
  background-color: grey;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: default;
  margin: 30px auto;
}

.login-button {
  position: relative;
}

.textHide {
  display: none;
}