.login-container {
  max-width: 340px;
  min-height: 100%;
  border: 20px solid #078353;
  margin: 0 auto;
}

.login-title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: hsl(157, 74%, 17%);
  margin: 40px 0 30px 0;
}

.login-email {
  width: 85%;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0px auto 25px;
  text-align: left;
}

.login-email input {
  font-size: 16px;
  padding: 10px 5px;
  &:focus {
    background: rgb(230, 233, 231);
  }
}

.login-text-email-invalid {
  display: block;
  position: relative;
  width: 85%;
  top: -24px;
  left: 8%;
  z-index: 1;
  text-align: center;
  background: rgba(197, 241, 221, 0.9);
  font-size: 16px;
  padding: 5px 10px;
  border: 1px dashed #078353;
 }

.login-text-email-hide {
  display: none;
}

.login-text-pass-hide {
  display: none;
}

.login-text-pass-invalid {
  display: block;
  position: relative;
  width: 85%;
  top: 1px;
  left: 8%;
  z-index: 1;
  text-align: center;
  background: rgba(197, 241, 221, 0.9);
  font-size: 16px;
  padding: 5px 10px;
  border: 1px dashed #078353;
  margin-bottom: 0;
}

.login-checkbox {
  display: inline-block;
  margin: 5px 5px 0 10% ;
}

.login-text-checkbox {
  font-size: 16px;
  text-transform: capitalize;
  color: rgb(134, 134, 134);
}

.login-password {
  width: 85%;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: left;
  margin: 0 auto;
}

.login-password input {
  font-size: 16px;
  padding: 10px 5px;
  &:focus {
    background: rgb(230, 233, 231);
  }
}

.login-button button {
  display: block;
  width: 30%;
  padding: 12px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: hsl(157, 74%, 17%);
  margin: 20px auto 40px;
}

.login-button span {
  display: inline-block;
  color: #ccc;
  background-color: hsl(157, 74%, 17%);
  text-transform: uppercase;
  margin: 0 auto;
}