.Header-nav {
    min-height: 50px;
    font-size: 20px;
    text-align: center;
    background-color: rgb(252, 247, 247);
}

.Header-link {
    padding: 10px;
    background-color:rgb(10, 10, 10);
}

.Header-link li {
    display: inline-block;
    margin: 5px;
  }

  .Header-link span {
    color:aliceblue;
  }

  .Header-link li:first-child {
    padding: 5px;
    border: 2px solid aliceblue;
    color:aliceblue;
  }