.App-container {
  min-height: 100%; //растягиваем оболочку на весь экран по высоте
	overflow: hidden; //скрываем не влезшие элементы
	display: flex; //создаем flex контейнер
	flex-direction: column; //выстраеваем header, content и footer один под другим
}

.App-header {}

.App-content {
  flex: 1 1 auto; //разрешаем content занять все простанство, прижимаем footer вниз, а header вверх
}

.App-footer {}