.app-wrapper {
	min-height: 100%;
}

.app-container {
	min-height: 100%; //растягиваем оболочку на весь экран по высоте
	overflow: hidden; //скрываем не влезшие элементы
	display: flex; //создаем flex контейнер
	flex-direction: column; //выстраеваем header, content и footer один под другим
}

.app-content {
	flex: 1 1 auto; //разрешаем content занять все простанство, прижимаем footer вниз, а header вверх
}